* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
}

.trybewarts-header-logo {
  width: 100px;
}

.trybewarts-login {
  display: flex;
}
