* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
}

#rate-note input {
  display: inline-block;
  width: min-content;
  margin: 0%;
  padding: 0%;
}

#radio-input input {
  width: 10%;
  height: 5%;
  padding: 0%;
  margin: 0%;
}

.trybewarts-header-logo {
  width: 100px;
}

.trybewarts-login {
  display: flex;
}

#footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(63, 63, 63);
}

.main-container {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 10px;
  width: 675px;
}

#evaluation-form #input-select input {
  width: 250px;
  margin-right: 5%;
}

#evaluation-form select {
  width: 250px;
  margin-right: 5%;
}

#trybewarts-forms-logo {
  height: 500px;
}

#radio-label {
  margin-top: 5%;
}

#input-select {
  margin-left: 10%;
}

#radio-input {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column;
  text-align: left;
}

#back-menu {
  display: flex;
  justify-content: space-between;
}

#checkbox-label {
  display: flex;
  flex-flow: column nowrap;
}

#checkbox-label .subject {
  margin: 0%;
  padding: 0%;
  width: 20px;
  display: inline-block;
}

.label-checkbox {
  display: inline-block;
  width: min-content;
  margin: 0%;
  padding: 0%;
}

#rate-note {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#rate-note label {
  margin: 0%;
  padding: 0%;
  width: 20px;
  display: inline-block;
}

#text-review {
  margin-bottom: 20px;
  resize: none;
}

#label-infos {
  font-size: medium;
}

#agreement {
  display: inline-block;
  width: 10px;
  margin: 0%;
  padding: 0%;
}

#text-counter {
  display: flex;
  align-items: center;
}

#div-agreed {
  display: flex;
}

#counter {
  margin: 0%;
}

#form-data {
  display: none;
}
